body, div, p, form, section, h2{
  padding: 0px;
  margin: 0px;
  border-style: none;
  display: flex;
}

a {
  color: inherit;
}

html {
  font-size: 16px;
}

.image {
  min-width: 490px;
  width: 35vw;
  min-height: 1000px;
  height: 100vh;
  background-image: url(images/dino-bones.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.image-sidebar {
  margin-top: max(200px, 20vh);
  height: 15%;
  width: 100%;
  background-color:black;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-sidebar-content {
  color: white;
  font-size: 4rem;
  font-weight: bolder;
  font-family: 'Permanent Marker', cursive;
}

.image-credit {
  margin-top: auto;
  align-self: center;
  color: whitesmoke;
}


.content-form {
  min-width: 910px;
  width: 65vw;
  min-height: 1000px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-form-top {
  width: 100%;
  height: 35%;
  background-color: whitesmoke;
}

.content-form-top-text {
  padding: max(140px, 14vh) 32px 0px 32px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.content-form-input {
  width: 100%;
  height: 30%;
  font-size: 1.5rem;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.input-row {
  display: flex;
  gap: 64px;
}

.input-element {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1rem;
}

input {
  min-width: max(250px, 17.86vw);
  min-height: max(25px, 2.5vh);
  border-radius: 5px;
  border-color: lightgrey;
  border-width: 1.5px;
  font-size: 1.3rem;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

input:focus {
  outline: blue solid 1.5px;
  box-shadow: 3px 3px 10px lightgrey;
}

input.error {
  border-color: red;
  outline-color: red;
}

.content-form-bottom {
  width: 100%;
  height: 35%;
  background-color: whitesmoke;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  box-shadow: inset -5px 5px 7px lightgrey;
}

.sign-up-button {
  width: max(200px, 14.29vw);
  min-height: max(50px, 5vh);
  border-radius: 6px;
  font-size: 1.5rem;
  background-color:blueviolet;
  color: white;
  border-style: none;
}

.sign-up-button:hover {
  outline: blueviolet solid 2px;
}

.login-text {
  font-size: 1.15rem;
}

.login-link {
  text-decoration: none;
  color: blueviolet;
}

.login-link:hover {
  text-decoration:underline;
}